<div class="losango"></div>
<ion-content fullscreen="true" scroll="false">

    <div *ngIf="this.usuario" class="primary-title">OLÁ {{this.usuario.name.toUpperCase()}}</div>
    <div class="basic-form">

        <div class="icon-title">
            <div class="title">
                <b>TREINOS</b>
            </div>
            <ion-icon (click)="addNewTraining()" name="add-circle"></ion-icon>
        </div>
        <app-training-list #trainingList (OnTrainingClick)="editTraining($event)" (OnInitUpdate)="initLoadAnimation()" (OnFinishUpdate)="finishLoadAnimation()"></app-training-list>
    </div>
</ion-content>