ion-content {
    --background: #0e76ad;
    // text-align: center;
    height: 100vh;
}

ion-grid {
    height: 100vh;
    ion-row {
        font-family: 'Segoe UI';
        color: white;
        text-align: center;
        ion-text.title {
            width: 100%;
            font-size: 2rem;
        }
        ion-button {
            --background: white;
            color: #0e76ad;
        }
    }
    ion-row:nth-child(1) {
        margin-top: 20%;
    }
    ion-row:nth-child(2) {
        margin-top: 10%;
        ion-text {
            font-size: 1.5rem;
        }
    }
    ion-row:nth-child(3) {
        margin-top: 10%;
    }
    ion-row:nth-child(4) {
        margin-top: 10%;
    }
}